.tim-row {
  margin-bottom: 20px;
}
/* width */
::-webkit-scrollbar {
  width: 10px;

}

div ::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1e1e2f;
}
div ::-webkit-scrollbar-track {
  background: none;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #525f7f;
  transition: .5s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;

}

.walletsID:hover {
  cursor: pointer;
  background-color: rgba(82, 95, 127, 0.7) !important;
  transition: .5s;

}

.tim-white-buttons {
  background-color: #777777;
  transition: .5s;

}

.typography-line {
  padding-left: 25%;
  margin-bottom: 35px;
  position: relative;
  display: block;
  width: 100%;
}

.typography-line span {
  bottom: 10px;
  color: #c0c1c2;
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  left: 0;
  position: absolute;
  width: 260px;
  text-transform: none;
}

.tim-row {
  padding-top: 60px;
}

.tim-row h3 {
  margin-top: 0;
}

.offline-doc .page-header {
  display: flex;
  align-items: center;
}

.offline-doc .footer {
  position: absolute;
  width: 100%;
  background: transparent;
  bottom: 0;
  color: #fff;
  z-index: 1;
}

@media all and (min-width: 992px) {
  .sidebar .nav>li.active-pro {
    position: absolute;
    width: 100%;
    bottom: 10px;
  }
}

.card.card-upgrade .card-category {
  max-width: 530px;
  margin: 0 auto;
}
